@font-face {
  font-family: "LilitaOne";
  src: url("./assets/fonts/LilitaOne-Regular.ttf");
  font-weight: 300;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("./assets/img/keyboard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
a {
  font-family: "LilitaOne";
}
